*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background: url(bg.jpg) #000;
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    font-size: 16px;
}
.wrap{
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.widget {
    width: 40%;
    margin: 32px;

}
.widget p{
    display: inline-block;
    line-height: 1em;
}
.fecha {
    font-family: Oswald, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5px;
    background: rgba(112, 112, 112, 0.5);
    padding: 20px;
    width: 100%;
}

.reloj {
    font-family: Oswald, Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 20px;
    font-size: 4em;
    text-align: center;
    background: rgba(112, 112, 112, .5);
}

.reloj .caja-segubdos,
.reloj .ampm{
    font-size: 2rem;
    display: block;
}